<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Reservation System Manager</title>
</head>
<body>
<div class="container">
    <h1>Create Reservation</h1>
    <hr>
    <form action="#" th:action="@{/user/reservation/save}" th:object="${reservation}" method="POST">
        <input type="date" th:field="*{startDate}" placeholder="Start Date" class="form-control mb-4 col-4"
               id="startDate">
        <input type="date" th:field="*{returnDate}" placeholder="Return Date" class="form-control mb-4 col-4"
               id="returnDate">
        <input type="number" id="totalPrice" th:field="*{totalPrice}" readonly>
        <br>
        <br>
        <select class="form-select form-control mb-4 col-4" th:field="*{vehicleId}"
                aria-label="Default select example">
            <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}"
                    th:utext="${vehicle.name}"/>
        </select>

        <button type="submit" class="btn btn-info col-2">Save Reservation</button>
    </form>

    <script>
        document.getElementById('returnDate').addEventListener('change', calculateTotalPrice);
        document.getElementById('startDate').addEventListener('change', calculateTotalPrice);

        function calculateTotalPrice() {
            let startDate = new Date(document.getElementById('startDate').value);
            let returnDate = new Date(document.getElementById('returnDate').value);
            let differenceInTime = returnDate.getTime() - startDate.getTime();
            let differenceInDays = differenceInTime / (1000 * 3600 * 24);

            let totalPrice = differenceInDays * 5000;
            document.getElementById('totalPrice').value = totalPrice;
        }
    </script>

    <hr>
    <a th:href="@{/user/reservation}">Back to list Reservation</a>
</div>
</body>
</html>
